<html>
    <head>
        <title>
        E Tutor StudentForm
        </title>
    </head>
    <body>
         <form action="adddata" method="post">
            Rollno <input type="text" name="roll_no"/><br>
            Name <input type="text" name="s_name"/><br>
            Address <input type="text" name="address"/><br>
            <input type="submit"/><br>
        </form>
    </body>
</html>