<html>
    <body>
        <a href="admin/addstudent">Add student</a><br>
        <a href="admin/displaystudent">display student</a><br>
        <a href="#">delete  student</a><br>
        <a href="#">update student</a><br>
        <a href="#">search student</a><br>
    </body>
</html>