<a href="addstudent">Add student</a> <br>
<a href="deletestudent">delete  student</a> <br>
<a href="updatestudent">update student</a> <br>
<a href="displaystudent">display student</a> <br>
<a href="searchstudent">search student</a> <br>
