<a href="addteacher">Add Teacher</a> <br>
<a href="searchteacher">Search Teacher</a> <br>
<a href="de">update student</a> <br>
<a href="displaydata">Display Teachers</a> <br>
<a href="searchstudent">search student</a> <br>
